#attendance-edit-table{
  th{
    text-align:center;
  }
  
  td{
    text-align:center;
  }
}


.edit-btn-wrapper{
  text-align:center;
}

.btn-cancel{
  width:160px;
}

.btn-go{
  width:160px;
}


/*残業申請の確認ページ*/
#overtime-notice-table{
  th{
    text-align:center;
  }
  
  td{
    text-align:center
  }
}