#place-table{
  th{
    text-align:center;
  }
  
  td{
    text-align:center;
  }
}



.btn-edit-place{
  float:left;
  padding-left:30px;
  padding-right:30px
}


.btn-new-place{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left:-40px;
}


.jumbotron-new-place {
  padding-top: 20px;
  padding-bottom: 20px;
}

