#user-info-table{
  td{
    text-align:center;
    vertical-align:bottom;
    white-space:pre;
  }
    
}

.time-table-title{
  margin-left:30px;
  margin-right:30px;
  
}


#user-attendance-table{
  th{
    text-align:center;
  }
  
  td{
    text-align:center;
  }
}